/* General Styles for the Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 20px;
  z-index: 1000;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-bg-0 {
  background-color: #5aa6f7; 
}

.navbar-bg-1 {
  background-color: #b76456; 
}

.navbar-bg-2 {
  background-color: #46d146; 
}

.navbar-bg-3 {
  background-color: #b82f78; 
}

.navbar-bg-4 {
  background-color: #f3a443; 
}

.navbar-bg-5 {
  background-color: #752fb8;
}


.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}


.navbar li {
  margin: 0 15px;
}


.navbar a {
  color: #0e0e0e;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.navbar a:hover {
  background-color: hsl(0, 0%, 4%);
  color: #f2f4f7;
  border-radius: 25px;
}


.navbar a.active {
  border-radius: 25px;
  color: white;
}


@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin: 10px 0;
  }
}
